# environment data, keys, and secrets
.ssh
.env
venv
.venv
config.php
*.key
*.crt

# local data that should not be tracked
__pycache__
*.pyc
mysql_data
generated_pdfs
logs


## stuff that I created randomly and don't want to track
composer.phar
vendor
INSTALL.sh
apache2 

## sync directories
abet.asucapstonetools.com
server_clone
